@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  /* border: 1px solid red; */
}

html {
  @apply bg-[#181818] w-[100vw] h-[100vh] text-white;
  font-family: 'Open Sans', sans-serif;
}

/* TITLES */
h1 {
  @apply text-4xl mb-5;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  @apply text-3xl mb-5;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  @apply text-2xl mb-5;
  font-family: 'Montserrat', sans-serif;
}

/* GENERAL */
p {
  @apply mb-7;
}
a {
  @apply text-white no-underline transition-all relative break-keep whitespace-nowrap;
  @apply hover:text-white;
  @apply before:content-[''] before:w-full before:h-[1px] before:bg-white before:absolute before:bottom-0 before:left-0 before:transition-all;
  @apply hover:before:bg-[#be1f4d] hover:before:h-[3px] hover:before:bottom-[-2px];
}
ul {
  @apply list-disc ml-6;
  li {
    @apply mb-2;
  }
}

/* CUSTOM */
.btn {
  @apply border border-white text-sm px-3 py-2 text-white no-underline transition before:hidden hover:bg-white hover:text-[#181818];
  @apply md:px-4 md:py-3 md:text-base;
}

/* BASE APP */
#app {
  @apply max-w-full min-h-[100vh] flex flex-col;
  @apply lg:max-w-[1080px] lg:mx-auto; /* lg screen */
}
